In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = 'UnivariateRegressionDataset.csv'
data = pd.read_csv(path)
data.head()

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [3]:
data.describe()

       Population     Profit
count   97.000000  97.000000
mean     8.159800   5.839135
std      3.869884   5.510262
min      5.026900  -2.680700
25%      5.707700   1.986900
50%      6.589400   4.562300
75%      8.578100   7.046700
max     22.203000  24.147000

# Função de Custo

In [5]:
'''
Função que nos diz a distância entre cada ponto para a reta
pretende-se minizar o valor do erro
'''
def compute_cost(x, y, theta): 
    m = len(y)
    predictions = x.dot(theta) # multiplicar x pelo teta
    cost = (1 / (2 * m) * np.sum(np.square(predictions - y)))
    
    return cost

In [1]:
'''
theta: array de thetas
learning_reate: valor de alpha
'''
def gradient_descent(x, y, theta, learning_rate, num_iterations):
    m = len (y)
    cost_history = np.zeros(num_iterations) # cria um array de 0's para depois serem substituidos 
    theta_history = np.zeros((num_iterations), 2) # cria um array de 2 em 2, para guardarmos os valores de theta1 e theta0 até ao limite de iterações
    
    for i in range(num_iterations):
        predictions = x.dot(theta)    
        error = predictions - y
    
        gradients = (1 / m) * x.T.dot(error)
        theta = theta - learning_rate * gradients
        
        cost_history[i] = compute_cost(x,y,theta)
        theta_history[i, :] = theta.T 
        
    return theta, cost_history, theta_history

In [ ]:
x = data['Population'].values
y = data['Profit'].values
m = len(y)

x_b = np.c_[np.ones((m,))]